html(lang="en")
head
    title= 'Fractals'

    // removes margin, padding, border in body
        <style>
        body {
        margin: 0px;
        padding: 0px;
        border: 0px;
        }
        </style>

    // initialize lsystem and a various fractals' lsystems
    <script src="javascripts/lsystem.js" type="text/javascript"></script>
    <script src="javascripts/dragon.js" type="text/javascript"></script>
    <script src="javascripts/koch.js" type="text/javascript"></script>
    <script src="javascripts/gosper.js" type="text/javascript"></script>

body
    // Iterations
    <input type="text" id="iterations" value="0">
    <button type="button" onclick="dragon.redraw()">Dragon</button>
    <button type="button" onclick="gosper.redraw()">Gosper</button>
    <button type="button" onclick="koch.redraw()">Koch</button>

    //create a canvas
    <canvas id="canvas"></canvas>

    //fullscreens the canvas and resizes it when window is resized
    <script src="javascripts/fractalCanvas.js" type="text/javascript"></script>

</body>
